<!-- <form [formGroup]="recordForm"> -->
<div class="card element">
    <div class="card-header">
        <h3 class="card-title">Active Record-List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <!-- <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length"
                                    aria-controls="example1"
                                    class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> entries</label></div>
                    </div> -->
                <div class="col-sm-12 col-md-6">
                    <div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search"
                                [(ngModel)]="searchText" (keyup)="onKey($event)" class="form-control form-control-sm"
                                placeholder="" aria-controls="example1"></label>
                    </div>

                </div>
                <div id="example1_filter" class="dataTables_filter"><label>Rate:<input type="text"
                    [(ngModel)]="rate" class="form-control form-control-sm"
                    placeholder="" aria-controls="example1"></label>
                </div>
                <!-- <div id="example1_filter" class="dataTables_filter"><label>Hours:<input type="text"
                    [(ngModel)]="rate" class="form-control form-control-sm"
                    placeholder="" aria-controls="example1"></label>
                </div> -->
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 70px;">{{ srNo | uppercase}}</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 219px;">
                                    {{Name | uppercase}}</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 194px;">
                                    {{phone | uppercase}}</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 143px;">{{starttime | uppercase}}</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 101px;">
                                    {{prevbal | uppercase }}
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 143px;">
                                    {{currbal | uppercase}}
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 143px;">
                                    {{payable | uppercase}}
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 101px;">
                                    {{pay | uppercase}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr role="row" class="odd" *ngFor="let customer of customers | filter:searchText; index as i;">
                                <td class="sorting_1">{{i}}</td>
                                <td>{{customer.name | uppercase}}</td>
                                <td>{{customer.phone_no}}</td>
                                <td>{{todayDate | date :'short'}}</td>
                                <td>{{customer?.bal | currency:'INR'}}</td>
                                <td>{{currentamt | currency:'INR'}}</td>
                                <td>{{ currentamt + customer.bal | currency:'INR'}}</td>
                                <td><button type="button" class="btn btn-block bg-gradient-primary btn-sm" data-toggle="modal" data-target="#modal-default" (click)="onSelect(customer)">Pay Now</button></td>
                            </tr>




                        </tbody>
                        <!-- <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">{{Sr_no}}</th>
                                    <th rowspan="1" colspan="1">{{customer.name}}</th>
                                    <th rowspan="1" colspan="1">Platform(s)</th>
                                    <th rowspan="1" colspan="1">Engine version</th>
                                    <th rowspan="1" colspan="1">CSS grade</th>
                                </tr>
                            </tfoot> -->
                    </table>

                </div>
            </div>

        </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.container-fluid -->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-primary card-outline">

                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">{{ selecteduser?.name }}</h3>

                        <p class="text-muted text-center">{{selecteduser?.phone_no}}</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <!-- <td></td>
                                <td></td>
                                <td></td> -->
                                <b>Previous Balance</b>
                                <a class="float-right">{{selecteduser?.bal | currency:'INR'}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Current Amount</b>
                                <a class="float-right">{{ currentamt | currency:'INR' }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Payable Amount</b>
                                <a class="float-right">{{ currentamt + selecteduser?.bal | currency:'INR'}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Paid Amount</b>
                                <input class="float-right" type="text" č class="form-control" [(ngModel)]="paidamt">
                            </li>

                            <li class="list-group-item">
                                <b>Amount Remaining</b>
                                <a class="float-right">{{ paidamt - currentamt + selecteduser?.bal | currency:'INR'}}</a>
                            </li>
                        </ul>

                        <a class="btn btn-primary btn-block" (click)="addTransaction()"><b>Paid</b></a>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
        <!-- /.modal -->
    </div>
</div>
<!-- </form> -->